html,body{
  width:100%;
  background-color:black;
  box-sizing:border-box;
  min-width:300px;
}

/*//////////*/
/* GENERAL  */
/*//////////*/

h1, .rotate__container-title{
  text-align:center;
  font-weight:600;
  font-size:2rem; 
  padding:0.8rem;
  margin:1rem auto;
  background-color:#00000086;
  border: 2px solid #000000;
  border-radius:0.5rem;
  color:white;
  width:fit-content;
  opacity:0.9;
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

h3{
  font-weight:600;
  padding:0.5rem;
}

i{
  font-size:3rem;
}

.main__container-list{
  width:90%;
  min-height:60vh;
  margin:0.5rem auto;
  padding:1rem;
  background-color:#00000086;
  border: 2px solid #000000;
  border-radius:0.5rem;
  opacity:0.90;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:0.5rem;
}

img{
  pointer-events: none;
  user-select: none;
}

select{
  font-size:1.2rem;
}

.nav-icon{
  display:none;
}

.nav-icon img{
  width:3rem;
}

.help{
  color:white;
  border:none;
  background:none;
}

/*////////*/
/* HEADER */
/*////////*/

header{
  color:white;
}

.header__brand{
  display:flex;
  justify-content:space-between;
  height:100%;
}

.header__top{
  border-bottom:solid 3px #97A703;
  height:3rem;
  width:100%;
  padding:0 5.5%;
}

.header__navbar{
  height:4rem;
  width:100%;
  display:flex;
  align-items:center;
}

.header__navbar-container{
  width:100%;
  position:relative;
  height:100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.header__navbar-links{
  display:flex;
  justify-content:center;
  width:90%;
  height:60%;
  padding:0 1rem;
  font-size:1.2rem;
  font-weight:600;
}

.header__navbar-links li{
  width:33%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.header__navbar-links a:hover{
  color:#97A703;
}

.header__logo-dofus{
  width:14rem;
  position:absolute;
  top:-48px;
  left:calc(50% - 7rem);
}

.header__navbar-left, .header__navbar-right{
  display:flex;
  justify-content:center;
  height:100%;
  width:50%;
}

.header__navbar-left li, .header__navbar-right li{
  text-align:center;
  padding:0 1.5rem;
}

.border-nav{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.header__navbar-left{
  padding-right:10%;
}

.header__navbar-right{
  padding-left:10%;
}

.header__top li:hover{
  background-color:#2b2727;
  color:#97A703;
}

.header__top-right, .header__top-left{
  display:flex;
  justify-content:center;
  height:100%;
  align-items:center;
}

.header__top li{
  background-color:#212020;
  padding:0 1rem;
  box-shadow:2px 0 0 grey, -2px 0 0 grey;
  height:100%;
  display:flex;
  align-items:center;
}

.ankama-img{
  width:3.5rem;
}

/*////////*/
/*  MAIN  */
/*////////*/

main{
  width:100%;
  min-height:100vh;
  background-size: cover;
  background-position: center;
  padding:1.5rem 1rem;
}

/* TODO gérer les images de fond*/
.main__index{
  background-image: url('../images/bg_dofus.jpg');
  background-repeat: repeat-y;
}

.main__connexion{
  background-image: url('../images/ladder_temporis7.jpg');
  background-repeat: repeat-y;
}

.main__admin{
  background-image: url('../images/servers.jpeg');
  background-repeat: repeat-y;
}

.main__accounts {
  background-image: url('../images/accountbg.png');
  background-repeat: repeat-y;
}

.main__servers{
  background-image: url('../images/servers.jpeg');
  background-repeat: repeat-y;
}

/*//////////*/
/*  FOOTER  */
/*//////////*/

footer{
  height:10rem;
  width:100%;
  color:white;
  padding:2rem;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content:center;
  gap:1rem;
}

footer p{
  padding:1rem;
}

/*////////////////////*/
/*  AUTHENTIFICATION  */
/*////////////////////*/

.auth-container{
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width:60%;
  margin:1rem auto;
  opacity:0.9;
}

.auth-container__title{
  background-color:#97A703;
  padding:1rem;
  color:white;
}

.auth-container__img-group{
  width:100%;
  display:flex;
  justify-content:space-evenly;
  padding:1rem 0;
}

.auth-container__img-group img{
 padding:0 1rem;
 width:calc(80% / 6);
}

.auth-container__input-container{
  width: 70%;
  padding:0.5rem 0;
  margin:0 auto;
  text-align:center;
}

.auth-container__input-container input{
  padding: 8px;
  border: 1px solid #646464;
  border-radius: 3px;
  width: 100%;
  margin-top:0.5rem;
  font-size:1.2rem;
}

.auth-container__input-submit {
  padding: 0.7rem;
  background-color: #97A703;
  border:none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:1rem auto;
  width:30%;
  font-size:1.2rem;
  text-shadow: 
    -1px -1px 0 #535353,
    1px -1px 0 #535353,
    -1px 1px 0 #535353,
    1px 1px 0 #535353; 
  color:white;
}

.auth-container__input-submit:hover {
  background-color: #7b8802;
}

.auth-container__label{
  font-size:1.2rem;
}

.auth-container__dd-sauvage{
  margin-top:2rem;
  width:100%;
  text-align:center;
}

.auth-container__checkbox-container{
  width: 70%;
  padding:0.5rem 0;
  margin:0 auto;
}

.inscription-link-container{
  width:100%;
  padding:0.5rem;
  text-align:center;
  color:rgb(85, 85, 85);
}

.inscription-link-container a{
  font-size:1.1rem;
  text-decoration:underline;
  text-align:center;
  font-weight:600;
}

.inscription-link-container a:hover{
  cursor:pointer;
  color:rgb(54, 54, 54);
}

/*//////////*/
/*  ADMIN   */
/*//////////*/

.admin-navbar{
  width:100%;
  display:flex;
  background-color:#000000;
  color:white;
  border-radius:1rem;
  opacity:0.9;
}

.admin__features-section{
  text-align:center;
  width:30%;
  padding:1rem;
  background-color:white;
  border:solid 2px white;
  border-radius:0.5rem;
  margin-bottom:1rem;
}

.admin__features-section h2{
  font-size:1.5rem;
  font-weight:600;
  padding:0 1rem 1rem 1rem;
}

.admin__link-features{
  width:80%;
  margin: 0.2rem auto;
  height:4rem;
  background-color:rgb(83, 83, 83);
  border-radius:0.5rem;
  font-size:1.2rem;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.admin__logo-update{
  margin:0 auto;
  width:100%;
  height:100%;
}

/*////////////*/
/*  ARTICLE   */
/*////////////*/

.main__article-account{
  width:100%;
  height:100%;
  padding:0.5rem;
  border-radius:0.5rem;
  font-size:1.2rem;
  background-color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:0.5rem;
}

.main__article{
  width:15rem;
  height:29rem;
  padding:1rem;
  margin:1rem;
  background-color:rgb(255, 255, 255);
  border-radius:0.5rem;
  font-size:1.2rem;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:0.3rem;
}

.main__article:hover,.main__article-account:hover{
  background-color:#00000079;
  color:white;
}

.main__article a{
  width:100%;
}

.main__article h2{
  font-size:1.5rem;
  font-weight:600;
  color:white;
}

.main__article-title, .article__title{
  padding:0.5rem;
  text-align:center;
  width:100%;
  background-color:#000000;
  color:white;
}

.article__logo-server{
  width:100%;
  height:18rem;
}

.article__circular-button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 3px solid #97A703;
  color:#97A703;
  font-size: 3rem;
  outline: none;
  cursor: pointer;
}

.article__circular-button:hover {
  background-color:#97A703;
  color:white;
}

.article__open-form{
  border-radius:0.5rem;
  padding:2rem 4rem;
  margin: 1rem auto;
}

.container-list__account-color{
  width:15rem;
  height:29rem;
  padding:0.5rem;
  border-radius:0.5rem;
  margin:1rem;
  display: flex;
  align-items: center;
  justify-content:center;
}

.article__container-logo{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}

.article__container-logo button{
    height:2.8rem;
    width:2.8rem;
}

.article__container-logo i{
  font-size:1.5rem;
  display:flex;
  justify-content:center;
  align-items: center;
}

/*//////////////*/
/*  FORMULAIRE  */
/*//////////////*/

form {
  display: flex;
  flex-direction: column;
}

.article__form{
  width:100%;
  gap:0.5rem;
  text-align:center;
}

.article__form img{
  width:30%;
}

.form__input, .main__article-input{
  width:100%;
  padding:0.5rem;
  margin: 0.2rem 0;
  background-color:#000000;
  border:1px solid black;
  border-radius:0.5rem;
  color:white;
  font-weight:600;
  font-size:1.2rem;
}

.form__input:hover, .main__article-input:hover{
  background-color:#97A703;
}

.article__form-character{
  width:50%;
  border-radius:0.5rem;
  padding:0.5rem;
  margin: 1rem auto;
}

.valid-indicator, .valid-indicator-password {
  color: green;
  font-size: 20px;
  margin-left: 20px;
}

.form__color-picker{
  width:100%;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  padding:1rem;
}

.back-input{
  border:solid 1px #CCCCCC;
  background-color:#F8F8F8;
  border-radius:0.3rem;
  padding:1rem;
}

.back-input input:hover, .back-input input:focus{
  transform:scale(1.05);
}

.label-color{
  width:fit-content;
  margin:0 auto;
}

.form__color-picker-input{
  width:40%;
}

.form__color-picker-input-selected{
  width:40%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.select2-results__option .select-img {
  width: 1.6rem; 
  height: 1.6rem; 
  margin-right: 0.2rem;
  vertical-align: middle;
}

.select2-results__options .select-class {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  height:fit-content;
  width:100%;
}

#select2-update-classe-results, #select2-classe-results{
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
  height:fit-content;
  width:100%;
}

.select2-results__options:not(.select-class) {
  height:fit-content;
  width:100%;
}

.select2-results__option {
  display: flex;
  align-items: center;
}

.input{
  all:unset;
  color:#000000;
  padding:1rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width:80%;
}

.input-group{
  font-size: 1.5rem;
  position: relative;
  color: #383838;
  padding: 1rem;
  width:100%;
}

form input[type="text"]:not(.input-model){
  height:2.5rem;
  padding:0.5rem;
  font-size:1.5rem;
  border: solid 1px black;
  border-radius:0.5rem;
}

form input[type="color"]{
  border: solid 1px black;
  border-radius:0.5rem;
  height:4rem;
}

.label{
  position:absolute;
  top: 2.3rem;
  left: 15%;
  font-size:1rem;
  color: #383838;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color:#F8F8F8;
}

.input:focus {
  border: 1px solid #000000;
}

.input:is(:focus, :valid) ~ label{
  transform:
    translateY(-175%)
    scale(1.1);
  padding-inline:0.5rem;
}

/*//////////*/
/*  TABLE   */
/*//////////*/

.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  max-width: 300px;
}

.table-container{
  width:100%;
  overflow-x: auto;
  max-width:100%;
}

table {
  width:100%;
  font-size:1.5rem;
  border-collapse: collapse;
}

td,tr,th {
  border: 3px solid #000000;
  text-align: center;
  padding: 0.1rem;
  width:fit-content;
  vertical-align: middle;
  max-width:9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__td-date{
  width:5rem;
}

.table__td-logo{
  width:3rem;
}

.table__td-logo i{
  font-size:2rem;
}

.table__td-type{
  background-color:unset;
}

td a{
  width:100%;
  height:100%;
}

td button:hover{
  transform: scale(1.05);
  opacity:0.8;
}

th{
  background-color:black;
  color:white;
  height:3rem;
  font-size:1.3rem;
  font-weight:600;
  min-width:100px;
}

tr:nth-child(even) {
  background-color: rgb(231, 225, 203);
}

tr:nth-child(odd) {
  background-color: rgb(178, 178, 178);
}

thead {
  background-color: #000000;
  color: white;
}

.table__img-perso{
  width:5rem;
}

.table__account, .table__character{
  background-color:black;
  color:white;
  width:100%;
}

.table__spe section{
  padding:0.5rem;
  margin: 1rem auto;
  width:90%;
  font-size:1rem;
  font-weight:600;
  text-transform: uppercase;
  border:solid 2px white;
  border-radius:0.2rem;
}

.table__spe section:hover{
  transform:scale(1.01);
  cursor:pointer;
}

.table__date div{
  padding:0.2rem;
}

.table__img-server{
  width:5rem;
}

.table__img-server:hover, .table__couple:hover{
  opacity:0.8;
}

.inline-block:hover, .table__td-button-reproduction:hover{
  opacity:0.8;
}

.table__td-button-reproduction, .table__td-icone{
  border:none;
  height:0;
  padding:0;
}

.nb-repro{
  font-weight:600;
  color: green;
}

/*////////////////*/
/*   BACKGROUND   */
/*////////////////*/

.--bgred{
  background-color:red;
}

.--bggreen{
  background-color:green;
}

.--bgblue{
  background-color:blue;
}

.--bgyellow{
  background-color:yellow;
}

.--bgwhite{
  background-color:white;
}

.--bggreen{
  background-color:green;
}

/*////////////////*/
/*     HOVER      */
/*////////////////*/

.input-submit:hover {
  opacity:0.8;
}

.input-logo:hover{
  opacity:0.6;
}

.link-div:hover{
  opacity:0.8;
}

/*////////////////////*/
/*     CHARACTER      */
/*////////////////////*/

.input-logo{
  border:black solid 2px;
  border-radius:0.5rem;
  padding:0.5rem;
}

.input-submit {
  padding: 0.4rem 0;
  border:none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:0.5rem auto 0 auto;
  width:40%;
  font-size:1.2rem;
  font-weight:600;
  color:rgb(255, 255, 255);
}

.sort-container{
  width:fit-content;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  margin:0 auto;
  padding:1rem;
  color:white;
  background:rgba(0, 0, 0, 0.9);
  gap:2rem;
  font-weight:600;
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000; 
}

input[type="checkbox"]:not(:checked) + label {
  text-decoration: line-through;
  color:rgb(255, 109, 109);
}

/*////////////////////////*/
/*     DELETE CONFIRM     */
/*////////////////////////*/

.confirmation-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width:50%;
  height:50%;
  font-size:3rem;
  font-weight:600;
  text-align:center;
  background-color: #bb2e2e;
  border: 5px solid #000000;
}

.confirmation-content, .update-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.confirmation-content button {
  width:50%;
  font-size:2rem;
  height:4rem;
}

.confirmation-content button:hover {
  background-color:grey;
}

/*//////////////////////////*/
/*     UPDATE CHARACTER     */
/*//////////////////////////*/

.update-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width:60%;
  height:60%;
  font-size:1.5rem;
  text-align:center;
  background-color: #ffffff;
  border: 5px solid #000000;
}

.form__container__section{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  gap:0.3rem;
}

.form__section-input-text{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  width:48%;
}

#form__number-input{
  align-self:center;
  width:20%;
  text-align:center;
}

.genre-container{
  display:flex;
  padding:1rem 0;
}

.section-genre{
  width:50%;
  padding:1rem;
  border:solid 1px black;
}

.section-genre *:not(input[type="radio"]){
  display:block;
}

.section-genre h2{
  padding:0.5rem 0 1rem 0;
}

.open-breed{
  width: 5rem;
  height: 5rem;
  margin:0.5rem auto;
  border: 3px solid #000000;
  font-size: 2.5rem;
  outline: none;
  cursor: pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  line-height:4.5rem;
}

.open-breed img{
  width:100%;
}

.open-breed:hover{
  opacity:0.9;
  background-color:#e6e6e6
}

.breed-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  border:solid 5px rgb(0, 0, 0);
  background-color: #ffffff;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.breed-list h2{
  padding:1rem;
  font-size:2rem;
  background-color:rgb(58, 58, 58);
  align-self:flex-start;
}

.breed-list .input-submit{
  width:30%;
  padding:0.3rem;
  min-width:150px;
  margin:0.5rem;
}

.stade-container{
  border:solid 1px black;
  height:fit-content;
}

.stade-container h3{
  padding:0.5rem;
  background-color:black;
  color:white;
  width:100%;
}

.stade__breed-container{
  padding:0.5rem;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:0.5rem;
}

.figure-dd, .update-figure-dd{
  width:4rem;
  height:4rem;
  border:solid 1px black;
  cursor:pointer;
  margin:0.5rem;
}

.figure-dd:hover, .update-figure-dd:hover{
  opacity:0.9;
  background-color:#e6e6e6;
}

.figure-dd img, .update-figure-dd img{
  width:100%;
  height:100%;
}

.section-breed{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0.2rem auto;
  overflow-y:auto;
  height:60%;
  max-height:60%;
  padding:1rem;
  gap:0.5rem;
}

/*////////////*/
/*  UTILITY   */
/*////////////*/

.height2{
  height:2rem;
}

.hidden {
  display: none;
}

.bold{
  font-weight:1000;
  font-size:1.2rem;
}

.inline-block{
  display:inline-block;
}

.select-class, .input-text{
  width:90%;
  margin: 0 auto;
}

.input-model{
  border:1px solid #AAA;
  height:28px;
  border-radius:4px;
  font-size:1.2rem;
  color:#444;
  text-align:center;
  padding:0 .5em;
  letter-spacing: 1px;
}

.column{
  flex-direction:column;
  justify-content:center;
}

.feconde{
  color:green;
  font-weight:600;
}

.fecondee{
  color:red;
  font-weight:600;
}

.sterile{
  color:rgb(100, 0, 0);
  font-weight:600;
}

.orange{
  color:#FF4500;
}

.aucune{
  background-color:#97A703;
}

.repro{
  background-color:#fc869d;
}

.came{
  background-color:#8e81ff;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  font-size:1.5rem;
}

.modal-content {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  position:relative;
}

.modal-style-create{
  background-color: #005e10;
  border: 5px solid #03a727;
}

.modal-style-update{
  background-color: #00165e;
  border: 5px solid #0329a7;
}

.modal-style-delete{
  background-color: #5e0000;
  border: 5px solid #a70303;
}

.modal__title{
  font-size:2rem;
  font-weight:600;
  width:100%;
  padding:1rem;
  color:#ffffff;
}

.modal__update-account-name{
  padding:.5rem;
  font-weight:600;
}

.modal__body{
  width:100%;
  padding: 1rem;
  margin:0 auto;
  background-color:white;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  gap:1rem;
  align-items: center;
}

.close {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  position:absolute;
  top: 1rem;
  right: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.is-success{
  border: solid 1px green;
  padding: 1rem;
  width: 45%;
  color: green;
  font-weight:600;
  background-color:white;
}

.is-cancel{
  border: solid 1px red;
  padding: 1rem;
  width: 45%;
  color:red;
  font-weight:600;
  background-color:white;
}

.is-success:hover{
  background-color:rgba(35, 102, 18, 0.2);
}

.is-cancel:hover{
  background-color:rgba(102, 18, 18, 0.2);
}

.modal-submit-buttons{
  display:flex;
  justify-content:space-evenly;
  padding:1.5rem;
  width:100%;
}

/*//////////////////*/
/*    search form   */
/*//////////////////*/

.search-input-container{
  width:100%;
  padding: 0 1rem;
}

.search-input-container > div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  gap:1rem;
  margin:0 auto;
}

.search-input-container input{
  font-size:1.2rem;
  width:15rem;
  margin:0 auto;
  padding:0.3rem;
}

/*////////////////////*/
/*     add button     */
/*////////////////////*/

.add-container{
  width:100%;
  display:flex;
  justify-content: center;
}

.add-button{
  font-size:1.5rem;
  font-weight:600;
  padding: 1rem;
  border:solid 1px rgb(0, 70, 0);
  background-color:#97A703;
}

.add-button:hover{
  opacity:0.8;
}

/*////////////////////////*/
/*     notifications      */
/*////////////////////////*/

.notification {
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.danger, .success{
  color:white;
  width:40%;
  min-width:300px;
  font-size: 1.5rem;
  font-weight:600;
  padding:2rem;
  background-color:#F04669;
}

.success{
  background-color:#48C78E;
}

#closeButtonSuccess, #closeButtonFail{
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

#closeButtonSuccess:hover, #closeButtonFail:hover{
  color: #000000;
}

/*////////////////*/
/*     search     */
/*////////////////*/

.search-container{
  width:100%;
  display:flex;
  justify-content: center;
}

.search-box{
  height: fit-content;
  position: relative;
  width:fit-content;
  margin: 0 auto;
}

.input-search{
  height: 50px;
  border-style: none;
  padding: 10px;
  font-size: 1rem;
  font-weight:600;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50%;
  padding-right: 40px;
  color:#fff;
  width: 300px;
  border-radius: 0px;
  padding-right:3.5rem;
  background-color: transparent;
  border-bottom:1px solid rgb(255, 255, 255);
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000; 
}

.input-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.clear-search {
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ffffff;
  font-size:2rem;
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000; 
}

.clear-search:hover {
  color: #000000;
  text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000; 
}

.input-search::placeholder{
  color:rgba(255, 255, 255);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right:0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
  text-shadow: 
  -1px -1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  1px 1px 0 #000000; 
}

.btn-search i{
  font-size:1.1rem;
}

.btn-search:focus ~ .input-search::placeholder,
.btn-search:focus ~ .input-search,
.input-search:focus,
.input-search:focus::placeholder
{
  font-size:1.1rem;
}

#search-dd-update, #search-dd{
  border: solid 1px;
}

#search-dd-update::placeholder, #search-dd::placeholder{
  color:black;
  text-shadow:none;
}

.search-container.breed-select *{
  text-shadow:none;
  color:black;
}

.search-container.breed-select{
  height:fit-content;
  padding:0.5rem 0;
  border-bottom: solid 1px black;
}

/*////////////////////*/
/*    ENCLOS PAGES    */
/*////////////////////*/

.container__list-accounts{
  width:100%;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:0.2rem;
}

.container__account{
  width:304px;
  max-width:304px;
  padding:0.3rem;
  background-color:rgb(255, 255, 255);
  display:flex;
  flex-wrap:wrap;
  gap:0.4rem;
  border:solid 2px black;
  align-self:flex-start;
}

.container__account h2,
.character__title h3{
  width:100%;
  height:42px;
  padding:0.6rem 0.3rem;
  font-weight:600;
  background-color:black;
  border: solid 3px rgb(255, 255, 255);
  color:white;
  overflow-x:hidden;
  position:relative;
}

.angle{
  position:absolute;
  right:1rem;
  font-size:1.2rem;
  width:1.5rem;
}

.angle:hover{
  cursor:pointer;
}

.container__account h2:hover, .character__title h3{
  cursor:move;
}

.character__title h3{
  border:none;
}

.character__title{
  width:100%;
  height:3rem;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background-color:black;
}

.character__title img{
  width:55.44px;
  height:55.44px;
}

.article__character{
  width:100%;
  padding:0.1rem;
  gap:0.2rem;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  border:solid 5px black;
  background-color:#87d30e;
}

.character__container{
  width:26%;
  padding:0.2rem;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  gap:0.5rem;
}

.character__container-footer{
  width:100%;
  height:3rem;
  padding:0.2rem;
  margin-top:-0.5rem;
  gap:0.8rem;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
}

.character__container span{
  width:100%;
  font-size:1.5rem;
}

.character__container img{
  width:65.69px;
  height:65.69px;
  margin-top:-0.5rem;
}

.character__container-logos,
.rotate__container-logos{
  width:45%;
  padding:0.2rem;
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  align-items:center;
  border-right:solid 1px black;
  border-left:solid 1px black;
}

.character__container-logos button:hover,
.rotate__container-logos button:hover{
  cursor:pointer;
  opacity:0.8;
  transform:scale(1.1);
}

.false{
  opacity:0.2;
}

.character__container-logos button, 
.rotate__container-logos button{
  width:33%;
  border: none;
  background: none;
  padding: 0;
}

.character__container-logos i,
.rotate__container-logos i{
  font-size:1.8rem;
}

.character__container-logos img,
.rotate__container-logos img{
  width:38.39px;
  height:38.39px;
}

.character__container-footer select{
  width:100%;
  border:none;
  background-color:transparent;
  text-align:center;
  font-weight:600;
}

.character__container-footer select:hover{
  opacity:0.9;
  cursor:pointer;
  transform:scale(1.1);
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-align-last: center;
}

.chrono{
  cursor:pointer;
  line-height:3rem;
}

/*//////////////*/
/*  TUTORIALS   */
/*//////////////*/

.driver-popover.driverjs-theme {
  background-color: #ffda22;
  color: #000;
  border:solid 2px black;
  min-width:300px;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 1.5rem;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: #000;
}

.driver-popover.driverjs-theme button:not(.driver-popover-close-btn) {
  flex: 1;
  text-align: center;
  background-color: #000;
  color: #ffffff;
  border: 2px solid #000;
  text-shadow: none;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 6px;
}

.driver-popover.driverjs-theme button:not(.driver-popover-close-btn):hover {
  opacity:0.9;
  transform:scale(1.02);
  color: #ffffff;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
  margin:.5rem;
}

.driver-popover.driverjs-theme{
  color: #9b9b9b;
}

.driver-popover.driverjs-theme .driver-popover-close-btn:hover {
  color: #3f3f3f;
}

.driver-popover.driverjs-theme .driver-popover-close-btn{
  color: black;
  font-size:2rem;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #fde047;
}

.driver-popover.driverjs-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #fde047;
}

/*////////////////////*/
/*      HOME PAGE     */
/*////////////////////*/

.main__home{
  padding:0;
  background:white;
  text-align:center;
}

.main__home h2{
  font-size:2rem;
  font-weight:600;
  padding:1rem;
  text-decoration:underline;
}

.main__home h3{
  font-size:1.5rem;
  font-weight:600;
  padding:1rem;
  border: solid 2px;
  margin:1rem auto;
  width:fit-content;
}

.main__home p{
  font-size:1.5rem;
  padding:1rem;
}

.home__intro{
  width:100%;
  background:#97A703;
  padding:2rem;
  text-align:center;
  color:black;
  line-height: 1.8rem;
}

.home__img-section{
  width:100%;
  display:flex;
  justify-content:space-evenly;
  background:#231A32;
  border-top:solid 10px #09110b;
  border-bottom:solid 10px #09110b;
}

.home__img-section img{
  width: calc(100% / 6);
  max-width:150px;
}

.home__summary{
  width:100%;
  background:#00bb73;
  padding:2rem;
  text-align:center;
  color:black;
  line-height: 1.8rem;
}

.summary-list{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

.summary-list li{
  min-width:300px;
  width:50%;
  padding:1rem;
  font-size:2rem;
}

.summary-list h3{
  padding:1rem;
}

.summary-list li img{
  width:100%;
}

.home__account-section{
  background:#2e64c7;
  color:white;
  width:100%;
  padding:2rem;
}

.home__character-section{
  background:#bb9440;
  color:black;
  width:100%;
  padding:2rem;
}

.home__paddock-section{
  background:#ad4e4e;
  color:black;
  width:100%;
  padding:2rem;
}

.warning{
  color:red;
  font-weight:600;
}

.warning-link{
  text-decoration:underline;
}

.help-character, .help-paddock{
  padding:1rem;
  margin: 1rem auto;
  font-weight:600;
  background:rgb(238, 255, 0);
}

/*//////////////////*/
/*     ROTATES      */
/*//////////////////*/

.rotate__list{
  width:100%;
  text-align:center;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:0.2rem;
}

.rotate__card{
  font-weight:600;
  width:304px;
  max-width:304px;
  padding:0.3rem;
  background-color:rgb(128, 128, 128);
  display:flex;
  flex-wrap:wrap;
  gap:0.4rem;
  border:solid 2px black;
  align-self:flex-start;
}

.rotate__title{
  width:100%;
  height:3rem;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:black;
  border: solid 3px white;
}

.rotate__title img{
  width:55.44px;
  height:55.44px;
}

.rotate__title h3{
  color:white;
}

.rotate__main{
  width:100%;
  display:flex;
  justify-content:space-evenly;
  background:#AF3D32;
  border: solid 5px rgb(0, 0, 0);
}

.rotate__side{
  width:26%;
  padding:0.2rem;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  gap:0.2rem;
}

.rotate__side-crud,
.rotate__side-time,
.rotate__side-manage
{
  width:100%;
  height:30%;
  background:white;
  border:solid 1px black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.rotate__side-time span:hover{
  transform:scale(1.05);
}

.rotate__side-time:hover{
  cursor:pointer;
}

.rotate__side button{
  background:none;
  border:none;
}

.rotate__side button i{
  font-size:1.7rem;
  font-weight:600;
}

.rotate__side button i:hover{
  transform:scale(1.1);
}

.rotate__side-manage, .rotate__side-crud{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}

.rotate__side img{
  width:100%;
}

/*//////////////////*/
/*   MEDIA QUERIES  */
/*//////////////////*/

@media screen and (max-width: 1440px) {
  .main__container-list{
    width:100%;
  }

  .header__navbar-links{
   width:100%;
  }

  .header__top{
    padding:0;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo-dofus{
    width:12rem;
    top:-42px;
    left:calc(50% - 6rem);
  }

  .modal-content {
    max-width: 80%;
  }

  .auth-container{
    width:95%;
  }

  .home__account-section img,
  .home__character-section img
  {
    width:100%;
  }

  .home__account-section button i,
  .home__character-section button i{
    font-size:1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .nav-icon{
    display:block;
  }

  .nav-text{
    display:none;
  }

  .help-text{
    display:none;
  }

  .auth-container__img-group img{
    padding:0;
  }
}

@media screen and (max-width: 700px) {
  .header__navbar-left{
    padding-right:15%;
  }
  
  .header__navbar-right{
    padding-left:15%;
  }

  .modal-content {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .auth-container__input-submit{
    width:200px;
  }

  .auth-container__input-container{
    width:95%;
  }
}

@media screen and (max-width: 500px) {
  .header__logo-dofus{
    width:8rem;
    top:-27px;
    left:calc(50% - 4rem);
  }

  .header__navbar-links{
    padding:0;
   }

   .header__navbar-right li, .header__navbar-left li{
    padding:0;
  }

  .search-input-container > div{
    flex-direction:column;
    gap:1rem;
  }

  .main__container-list{
    padding:0.5rem;
  }

  .search-input-container .label{
    top:1.6rem;
  }

  .search-input-container .input:is(:focus, :valid) ~ label{
    transform:
      translateY(-115%)
      scale(1.02);
    padding-inline:0.5rem;
  }

  .valid-indicator{
    margin:0;
  }

  .back-input input[type='color']{
    width:5rem;
  }

  .back-input{
    gap:0.5rem;
  }
}

@media screen and (max-width: 425px) {

  main{
    padding:0.5rem;
  }

  .search-input-container > div input{
    font-size:1rem;
    width:11rem;
  }

  .search-input-container label{
    font-size:0.8rem;
  }

  .modal-submit-buttons{
    padding:0.2rem;
  }

  .auth-container__input-container input{
    font-size:0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .header__logo-dofus{
    width:7rem;
    top:-25px;
    left:calc(50% - 3.5rem);
  }

  .search-container.breed-select .input-search{
    width:220px;
    padding-right:4.2rem;
    font-size:0.7rem;
  }

  .search-container.breed-select .input-search::placeholder{
    font-size:0.7rem;
  }
}

@media screen and (max-width: 375px) {
  .form__color-picker{
    flex-direction:column;
  }

  .form__color-picker input{
    width: 6.5rem;
  }

  #color{
    width:6.5rem;
  }
}