<nav class="navbar">
  <ul class="admin-navbar">
      <li><a href="/admin">Menu</a></li>
      <li><a href="/admin/users">Users</a></li>
      <li><a href="/admin/servers">Serveurs</a></li>
      <li><a href="/admin/accounts">Comptes</a></li>
      <li><a href="/admin/characters">Personnages</a></li>
      <li><a href="/admin/breeds">Races</a></li>
      <li><a href="/admin/rotates">Rotations</a></li>
  </ul>
</nav>