<nav class="navbar">
  <div class="admin-navbar">
    <ul class="nav-links">
        <li><a href="/admin">Menu</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/servers">Serveur</a></li>
        <li><a href="/admin/accounts">Comptes</a></li>
        <li><a href="/admin/characters">Personnages</a></li>
        <li><a href="/admin/breeds">Race</a></li>
        <li><a href="/admin/naissances">Naissances</a></li>
    </ul>
  </div>
</nav>