<div class="modal" id="createModal" >
  <div class="modal-content modal-style-create">
    <span class="close close-modal-btn">&times;</span>
    <h2 class="modal__title">CREATE</h2> 
    <div class="modal__body">
      <h3 class="modal__create-account-name">Rotation</h3>
      <form id="createForm" class="article__form" action="/rotates" method="POST">
        <div class="input-group back-input">
          <input class="input" type="text" id="name" name="name" maxlength="20" required>
          <label class="label" for="name">Nom</label>
          <span class="valid-indicator" id="nameIndicator" style="display: none;">✔️</span>
        </div>
        <h3>Couleur</h3>
        <div class="form__color-picker back-input">  
          <input type="color" class="form__color-picker-input" id="color" name="color">
          <span class="bold"> # </span>
          <input type="text" class="form__color-picker-input-selected" id="selected-color" pattern="[0-9a-fA-F]{3}|[0-9a-fA-F]{6}" maxlength="6" value="000000">
          <span class="valid-indicator" id="colorIndicator" style="display: none;">✔️</span>
        </div>
        <h3><label for="server">Serveur</label></h3>
        <div class="back-input">
          <select class="height2" id="server" name="server" required>
            <option value="" disabled selected hidden>Choisissez un serveur</option>
            <% servers.forEach(server => { %>
            <option value="<%= server.id %>"><%= server.name %></option>
            <% }) %>
          </select>
          <span class="valid-indicator" id="serverIndicator" style="display: none;">✔️</span>
        </div>
        <div class="modal-submit-buttons">
          <input class="is-cancel" type="button" class="close-modal-btn" id="cancel" value="Annuler">
          <input class="submit is-success" id="submit" type="submit" value="Ajouter">
        </div>
      </form>
    </div>
  </div>
</div>