<div class="modal" id="confirm-delete-modal">
  <div class="modal-content modal-style-delete">
    <span class="close close-modal-btn">&times;</span>
    <h2 class="modal__title">DELETE</h2> 
    <div class="modal__body">
      <h3>Voulez vous vraiment supprimer cet élément ?</h3>
      <div class="modal-submit-buttons">
        <input class="is-cancel" type="button" class="close-modal-btn" id="delete-cancel" value="Annuler">
        <input class="is-success" type="button" id="delete-confirm" value="Confirmer">
      </div>
    </div>
  </div>
</div>