<div class="confirmation-box" id="confirmationBox">
  <div class="confirmation-content">
    <p id="confirmationDeleteText">Êtes-vous sûr de vouloir supprimer </p>
    <button onclick="confirmDelete()">Oui</button>
    <button onclick="closeConfirmation()">Non</button>
    <span id="selectedDelete" class="hidden"></span>
  </div>
</div>