    <footer class="footer">
        <div class="container">
            <p>Crée par SAURET Mathieu</p>
            <a class="footer__link">
                <p>https://github.com/SAURETMathieu</p>
            </a>
        </div>
    </footer>
  </body>
</html>