    <script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>
    <footer class="footer">
        <div class="container">
            <p>Crée par SAURET Mathieu</p>
            <a class="footer__link">
                <p>https://github.com/SAURETMathieu</p>
            </a>
        </div>
    </footer>
  </body>
</html>