<section class="home__img-section">
  <img src="/images/abreuvoir.png" alt="">
  <img src="/images/mangeoire.png" alt="">
  <img src="/images/caresse.png" alt="">
  <img src="/images/baffeur.png" alt="">
  <img src="/images/amour.png" alt="">
  <img src="/images/endu.png" alt="">
</section>