<div class="search-container">
  <div class="search-box">
  <button class="btn-search" aria-label="recherche par nom"><i class="fas fa-search"></i></button>
    <input 
      class="input-search" 
      type="search" 
      id="searchInput"
      name="search"
      maxlength="20"
      placeholder="Recherche par nom"
      required
    />
    <span id="clear-search" class="clear-search">&times;</span>
  </div>
</div>