<%- include('./partials/header'); -%>
<main class="main__admin">
  <h1 class="h1-admin-page">Liste des fonctionnalités administrateurs</h1>
  <%- include('./partials/adminNavBar'); -%>
  <div class="main__container-list">
    <a class="admin__features-section" href="/admin/users">
      <section>
        <h2>Utilisateurs</h2>
        <img src="/images/accountlogo.png" alt="logo des utilisateurs" />
      </section>
    </a>

    <a class="admin__features-section" href="/admin/servers">
      <section>
        <h2>Serveurs</h2>
        <img src="/images/serverlogo.png" alt="logo des serveurs" />
      </section>
    </a>

    <a class="admin__features-section" href="/admin/accounts">
      <section>
        <h2>Comptes</h2>
        <img src="/images/characterlogo.png" alt="logo des comptes" />
      </section>
    </a>

    <a class="admin__features-section" href="/admin/characters">
      <section>
        <h2>Personnages</h2>
        <img src="/images/cra.png" alt="logo des personnages" />
      </section>
    </a>

    <a class="admin__features-section" href="/admin/breeds">
      <section>
        <h2>Dragodindes</h2>
        <img src="/images/dindelogo.png" alt="logo des dragodindes" />
      </section>
    </a>

    <a class="admin__features-section" href="/admin/rotates">
      <section>
        <h2>Rotations</h2>
        <img src="/images/logoenclo.png" alt="logo des rotations" />
      </section>
    </a>

  </div>
</main>
<%- include('./partials/footer'); -%>
