<%- include('./partials/header'); -%>
<main class="main__home">
  <h1 class="h1-user-page">O'DD</h1>

  <section class="home__intro">
    <section class="home__img-section">
      <img src="/images/abreuvoir.png" alt="objet elevage abreuvoir" />
      <img src="/images/endu.png" alt="objet elevage foudroyeur" />
      <img src="/images/mangeoire.png" alt="objet elevage mangeoire" />
    </section>
    <p class="home__intro-text">
      Ce site est une application de gestion d'élevage exclusivement conçue pour
      <strong>DOFUS Rétro</strong>.<br />
      Il n'est pas adapté aux autres versions de <strong>Dofus</strong>.<br />
      Toutefois, il est conçu de manière à permettre à l'utilisateur de
      personnaliser et d'ajuster l'expérience à sa convenance.<br /><br />
      Notre objectif est de fournir une base flexible pour que chaque
      utilisateur puisse adapter l'application selon ses besoins spécifiques
      dans la gestion de son élevage sur les jeux <strong>Dofus</strong>.
    </p>
    <section class="home__img-section">
      <img src="/images/baffeur.png" alt="objet elevage baffeur" />
      <img src="/images/amour.png" alt="objet elevage dragofesse" />
      <img src="/images/caresse.png" alt="objet elevage caresseur" />
    </section>
  </section>

  <% if (!locals.user) { %>
    <div id="cookieBanner" class="cookie-banner">
      <div class="close-banner">
        <button class="close-button" aria-label="fermer le cookie">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <h2>Bienvenue</h2>
      <p>Veuillez vous connecter pour accéder au contenu.</p>
      <a href="/signin">
        <button id="getSigninPage" aria-label="aller a la page de connexion">Connexion</button>
      </a>
      <a href="/signup">
        <button id="getSignupPage" aria-label="aller a la page d'inscription">S'inscrire</button>
      </a>
      <p>Les données hors connexion sont fictives.</p>
      <p>Chaque page possède un tutoriel.</p>
      <button id="showTutorial" aria-label="jouer le tutoriel">Tutoriel</button>
      <button id="closeBanner" aria-label="fermer le cookie">Fermer</button>
    </div>
    <script defer type="module" src="/js/inits/initBanner.js"></script>
  <% } %>

</main>

<script type="module" src="/js/inits/initHomePage.js"></script>

<%- include('./partials/footer'); -%>


