<%- include('./partials/header'); -%>
<main class="main__home">
  <h1 class="h1-user-page">O'DD</h1>

  <section class="home__intro">
    <section class="home__img-section">
      <img src="/images/abreuvoir.png" alt="" />
      <img src="/images/endu.png" alt="" />
      <img src="/images/mangeoire.png" alt="" />
    </section>
    <p class="home__intro-text">
      Ce site est une application de gestion d'élevage exclusivement conçue pour
      <strong>DOFUS Rétro</strong>.<br />
      Il n'est pas adapté aux autres versions de <strong>Dofus</strong>.<br />
      Toutefois, il est conçu de manière à permettre à l'utilisateur de
      personnaliser et d'ajuster l'expérience à sa convenance.<br /><br />
      Notre objectif est de fournir une base flexible pour que chaque
      utilisateur puisse adapter l'application selon ses besoins spécifiques
      dans la gestion de son élevage sur les jeux <strong>Dofus</strong>.
    </p>
    <section class="home__img-section">
      <img src="/images/baffeur.png" alt="" />
      <img src="/images/amour.png" alt="" />
      <img src="/images/caresse.png" alt="" />
    </section>
  </section>
</main>

<script type="module" src="/js/inits/initHomePage.js"></script>

<%- include('./partials/footer'); -%>


