<%- include('./partials/header'); -%>
<main class="main__connexion">
  <div class="auth-container">
    <h1 class="auth-container__title">Inscription</h1>
    <div class="auth-container__img-group">
      <img src="/images/ebene.png" draggable="false" alt="dofus ebene">
      <img src="/images/ivoire.png" draggable="false" alt="dofus ivoire">
      <img src="/images/ocre.png" draggable="false" alt="dofus ocre">
      <img src="/images/vulbis.png" draggable="false" alt="dofus vulbis">
      <img src="/images/pourpre.png" draggable="false" alt="dofus pourpre">
      <img src="/images/turquoise.png" draggable="false" alt="dofus turquoise">
      <img src="/images/emeraude.png" draggable="false" alt="dofus emeraude">
    </div>
    <form action="/signup" method="POST">
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="lastname">Nom* </label>
        <span class="valid-indicator" style="display: none;">✔️</span>
        <input type="lastname" id="lastname" name="lastname" required>
      </div>
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="firstname">Prénom*</label>
        <span class="valid-indicator" style="display: none;">✔️</span>
        <input type="firstname" id="firstname" name="firstname" required>
      </div>
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="pseudo">Pseudo* </label>
        <span class="valid-indicator" style="display: none;">✔️</span>
        <input type="pseudo" id="pseudo" name="pseudo" required>
      </div>
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="email">Email* </label>
        <span class="valid-indicator" style="display: none;">✔️</span>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="password">Mot de passe* </label>
        <span class="valid-indicator-password" style="display: none;">✔️</span>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="auth-container__input-container">
        <label class="auth-container__label" for="passwordconfirm">Confirmation du mot de passe*</label>
        <span class="valid-indicator-password" style="display: none;">✔️</span>
        <input type="password" id="passwordconfirm" name="passwordConfirm" required>
      </div>
      <button class="auth-container__input-submit" type="submit">S'inscrire</button>
    </form>
  </div>

  <%- include('./partials/successNotif'); -%>

  <%- include('./partials/failNotif'); -%>
  
</main>

<script type="module" src="/js/inits/initAuthPage.js"></script>
<script type="module" src="/js/checkings/checkPassword.js"></script>
<script type="module" src="/js/checkings/checkSignup.js"></script>

<%- include('./partials/footer'); -%>